<form class="navbar-form" role="search">

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Pretraži po broju kreveta" [(ngModel)]="beds">
    </div>
</form>


<form class="navbar-form" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Pretraži po kvadraturi" [(ngModel)]="kvadratura">
    </div>
</form>

<div class="col-lg-12">
    <br/><h3>Sobe</h3>
	<table id="example" class="display" cellspacing="0">
		<thead>
			<tr>
				<th>Room name: </th>
				<th>Beds: </th>
				<th>TV: </th>
				<th>Kvadratura: </th>
			</tr>
		</thead>
		<tbody>
		<tr *ngFor="#soba of rooms| PipeName: beds | PipeSqr: kvadratura" >
			<th>{{soba.roomname}}</th>
			<th>{{soba.beds}}</th>
			<th><span *ngIf="soba.tv == 1">
				Yes
			</span>
			<span *ngIf="soba.tv != 1">
				No
			</span>
			</th>
			<th>{{soba.kvadratura}}</th>
		</tr>
		</tbody>
	</table>	
</div>
